<div class="text-center mt-8">
  <%= form_tag '/pokemon', method: :get do %>
    <div class="flex items-center justify-center">
      <div class="flex relative">
        <%= text_field_tag :pokemon, nil, placeholder: "Enter Pokémon name or number" %>
        <button class="search_border" type="submit">Search</button>
      </div>
    </div>
  <% end %>
</div>
