@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background-image: url("pokemon_background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}

@layer base {
  input {
    @apply border rounded-l py-2 px-4 pr-12;
  }
  button {
    @apply right-0 top-0 !bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r;
  }
}

@layer base {
  h1 {
    @apply font-bold leading-none tracking-tight text-gray-900 text-2xl;
  }
  p {
    @apply font-extrabold text-yellow-600
  }
}

.title-box {
  background: #FFFFFF;
  padding: 1%;
  border-radius: 30px;
  opacity: 70%;
  border: 5px solid #FFFFFF;
  text-align: center;
  margin-bottom: 15px;
}

.result-box {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1%;
  border-radius: 30px;
  opacity: 70%;
  border: 5px solid #cccccc;
  width: 350px;
  height: 200px;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.home-button {
  margin-bottom: 15px;
}
