@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background-image: url("pokemon_background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}

@layer base {
  h1 {
    @apply font-bold leading-none tracking-tight text-gray-900 text-2xl;
  }

  p {
    @apply font-bold
  }
}

.title-box {
  background: #FFFFFF;
  padding: 1%;
  border-radius: 30px;
  opacity: 70%;
  border: 5px solid #FFFFFF;
}
